body { 
	margin:0;
	padding:0; 
}
#map { 
	position: absolute;
	top:0;
	bottom:0;
	width:100%;
	height: 100%;
	display: none;
}
.dc-chart .axis text {
  font-size: 12px;
}
.dc-chart .brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}
.dc-chart .brush .resize path {
    fill: #eee;
    stroke: #666;
}
.dc-chart .axis path, .dc-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.container {
	position: absolute;
	text-align: center;
	background-color: rgba(1,1,1,0.1);
	width:100%;
	bottom: 0;
}